<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Каршеринг - Главная страница</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/icomoon-social.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/leaflet.css" />
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>

<div class="mainmenu-wrapper" style="padding-top: 25px">
    <div class="container">
        <nav id="mainmenu" class="mainmenu">
            <ul>
                <li class="logo-wrapper"><a href="/">Каршеринг</a></li>
                <li class="active">
                    <a href="/">Главная</a>
                </li>
                <li><a href="#">Как это работает</a></li>
                <li><a href="#">Тарифы</a></li>
                <li><a href="#">Вопросы</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="homepage-slider">
    <div id="sequence">
        <ul class="sequence-canvas">
            <li class="bg4">
                <h2 class="title">Скачай приложение</h2>
                <h3 class="subtitle">Скачай бесплатное мобильное приложение и зарегистрируйся в системе.
                    Для регистрации необходимы водительское удостоверение и паспорт.
                    <br><a href="" style="margin-top: 10px; padding: 10px;" class="btn btn-orange">Скачать приложение</a>
                </h3>
                <img class="slide-img" style="width: 160px" src="img/homepage-slider/1.png" alt="Slide 1" />
            </li>
            <li class="bg3">
                <h2 class="title">Найди автомобиль на карте</h2>
                <h3 class="subtitle">Найди ближайший автомобиль с помощью мобильного приложения и забронируй его.
                    <br><a href="" style="margin-top: 10px; padding: 10px;" class="btn btn-orange">Скачать приложение</a>
                </h3>
                <img class="slide-img" style="width: 160px"  src="img/homepage-slider/2.png" alt="Slide 2" />
            </li>
            <li class="bg1">
                <h2 class="title">Начни поездку</h2>
                <h3 class="subtitle">
                    Планируй свой маршрут по городу. Совершай остановки в удобном для тебя месте используя режим ожидания.
                    <br><a href="" style="margin-top: 10px; padding: 10px;" class="btn btn-orange">Скачать приложение</a>
                </h3>
                <img class="slide-img" style="width: 160px" src="img/homepage-slider/slide3.png" alt="Slide 3" />
            </li>
        </ul>
        <div class="sequence-pagination-wrapper">
            <ul class="sequence-pagination">
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                    <img src="img/service-icon/useful-11.png" style="width: 64px; height: 64px" alt="Service 1">
                    <h3>Вместо такси</h3>
                    <p>Взять машину в точке А, а вернуть в точке В без доплаты. Похоже на услуги такси, только ты сам водитель, нет таксиста, а тариф дешевле.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                    <img src="img/service-icon/useful-13.png" style="width: 64px; height: 64px" alt="Service 2">
                    <h3>Машина нужна всего на пару часов в день</h3>
                    <p>Минимальный срок аренды - 1 минута. У нас поминутный тариф, тарификация посекундная.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                    <img src="img/service-icon/useful-16.png" style="width: 64px; height: 64px" alt="Service 3">
                    <h3>Нечастые поездки каждый день</h3>
                    <p>С работы домой или из дома в магазин. Возьми машину на 15 минут, на 2 часа. За топливо, мойку платить НЕ надо!</p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.sequence-min.js"></script>
<script src="/js/template.js"></script>

</body>
</html>