<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Тарифы - Панель Управления</title>
    <span th:replace="/fragments/head.html :: head"></span>
</head>
<body>

<div id="wrap" >

    <div th:replace="/fragments/header"></div>
    <div th:replace="/fragments/menu"></div>

    <div id="content">

        <div class="inner">
            <div class="row">
                <a href="/admin/tariff/new" class="btn btn-primary btn-sm">Новый тариф</a>
            </div>
        </div>

        <div class="inner" style="padding: 10px">
            <div class="card">
                <div class="card-header">Тарифы</div>
                <div class="card-body">

                    <table class="table table-hover table-sm">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Название</th>
                            <th>Тариф доступен</th>
                            <th>Аренда, руб/мин</th>
                            <th>Ожидание, руб/мин</th>
                            <th>Бронирование бесплатно, мин</th>
                            <th>Бронирование, руб/мин</th>
                            <th>Максимальная ответственность, руб</th>
                            <th>Бесплатное ожидание</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="t: ${tariffs}">
                            <td>
                                <a th:href="@{/admin/tariff/{id}/edit(id=${t.id})}">
                                    <button class="btn btn-primary btn-sm">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </a>
                            </td>
                            <td th:text="${t.name}"></td>
                            <td th:switch="${t.enabled}">
                                <button th:case="true" type="button" class="btn btn-success btn-circle"><i
                                        class="fas fa-check"></i></button>
                                <button th:case="false" type="button" class="btn btn-danger btn-circle"><i
                                        class="fas fa-times"></i></button>
                            </td>
                            <td th:text="${t.payRent}"></td>
                            <td th:text="${t.payWaiting}"></td>
                            <td th:text="${t.freeBookingMin}"></td>
                            <td th:text="${t.payBooking}"></td>
                            <td th:text="${t.payCrash}"></td>
                            <td th:if="${t.freeWaitingStart!=null}" th:text="${t.freeWaitingStart} +' - '+${t.freeWaitingEnd}"></td>
                            <td th:if="${t.freeWaitingStart==null}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<span th:replace="/fragments/scripts.html :: scripts"></span>

</body>
</html>


