<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Тарифы - Панель Управления</title>
    <span th:replace="/fragments/head.html :: head"></span>
</head>

<body>

<div id="wrap">

    <div th:replace="/fragments/header"></div>
    <div th:replace="/fragments/menu"></div>

    <div id="content">

        <div class="inner" style="padding: 10px">
            <div class="card">
                <div class="card-header">Добавить тариф</div>
                <div class="card-body">

                    <form th:action="@{/admin/tariff/new}" th:object="${tariff}" method="post" id="myForm"
                          class="form-horizontal col-lg-6" name="myForm">
                        <div class="form-group">
                            <label class="control-label">Название тарифа</label>
                            <input type="text" id="name" name="name" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Аренда, руб/мин</label>
                            <input type="text" th:field="*{payRent}" id="payRent" name="payRent"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Ожидание, руб/мин</label>
                            <input type="text" th:field="*{payWaiting}" id="payWaiting" name="payWaiting"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Бесплатное бронирование, мин</label>
                            <input type="text" th:field="*{freeBookingMin}" th:value="*{freeBookingMin}"
                                   id="freeBookingMin" name="freeBookingMin" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Бронирование, руб/мин</label>
                            <input type="text" th:field="*{payBooking}" id="payBooking" name="payBooking"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Максимальная ответственность, руб</label>
                            <input type="text" th:field="*{payCrash}" id="payCrash" name="payCrash"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Активировать тариф?</label>
                            <div class="make-switch switch-small" data-on-label="Да" data-off-label="Нет">
                                <input type="checkbox" th:field="*{enabled}" th:value="*{enabled}"
                                       name="enabled" id="enabled"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Бесплатное ожидание</label>
                            <div class="make-switch switch-small" data-on-label="Да" data-off-label="Нет">
                                <input type="checkbox" name="useFreeWaiting" id="useFreeWaiting"/>
                            </div>
                        </div>
                        <div id="timeBlock" style="display: none">
                            <div class="form-group">
                                <label class="control-label">Начало</label>
                                <div class="input-group bootstrap-timepicker">
                                    <input id="timeStart" name="timeStart" class="form-control" type="time"/>
                                    <span class="input-group-addon add-on"><i class="icon-time"></i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Конец</label>
                                <div class="input-group bootstrap-timepicker">
                                    <input id="timeEnd" name="timeEnd" class="form-control" type="time"/>
                                    <span class="input-group-addon add-on"><i class="icon-time"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label"></label>
                            <button class="btn btn-primary" type="submit">Добавить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<span th:replace="/fragments/scripts.html :: scripts"></span>

<script>
    var myCheckBox = $('#useFreeWaiting');
    var timeBlock = $('#timeBlock');
    myCheckBox.change(function () {
        if (myCheckBox.is(':checked')) {
            timeBlock.show();
        } else {
            timeBlock.hide();
        }
    });
</script>
</body>
</html>


