<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Главная Страница</title>
    <span th:replace="/fragments/head.html :: head"></span>
</head>


<body>

<div id="wrap" >

    <div th:replace="/fragments/header.html :: header"></div>
    <div th:replace="/fragments/menu.html :: menu"></div>

    <div id="content">

        <div class="inner">
            <div class="row">
                <div class="col-lg-12">
                    <h1> Панель Управления </h1>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-12">


                </div>
            </div>

        </div>
    </div>

</div>

<span th:replace="/fragments/scripts.html :: scripts"></span>

</body>
</html>


