<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Клиенты - Панель Управления</title>
    <span th:replace="/fragments/head.html :: head"></span>
</head>

<body>

<div id="wrap">

    <div th:replace="/fragments/header"></div>
    <div th:replace="/fragments/menu"></div>

    <div id="content">

        <div class="inner">
            <div class="row">
                <button th:if="${!client.activated && client.enabled}" id="activate" class="btn btn-primary btn-sm">Подтвердить</button>
                <button th:if="${client.enabled}" id="ban" class="btn btn-danger btn-sm">Заблокировать</button>
                <button th:if="${!client.enabled}" id="unban" class="btn btn-warning btn-sm">Разблокировать</button>
            </div>
        </div>

        <div class="inner">
            <h3 th:if="${client.secondName!=null && client.activated}" th:text="${client}"></h3>
            <div th:if="${!client.activated && client.enabled}"
                 class="alert alert-danger alert-dismissable"
                 style="margin-top: 10px; margin-bottom: 10px">Необходима проверка документов
            </div>
            <div th:if="${!client.enabled}"
                 class="alert alert-danger"
                 style="margin-top: 10px; margin-bottom: 10px">Клиент заблокирован
            </div>

            <div class="card">
                <div class="card-header">Общая информация</div>
                <div class="card-body">
                    <form th:action="@{/admin/client/edit}" th:object="${client}" method="post">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="id">ID</label>
                                    <input type="text" th:field="*{id}" readonly class="form-control" id="id">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="telephone">Номер телефона</label>
                                    <input type="text" th:field="*{telephone}" readonly class="form-control"
                                           id="telephone">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="mail">E-Mail</label>
                                    <input type="text" th:field="*{email}" readonly class="form-control"
                                           id="mail">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="gender">Пол</label>
                                    <select disabled id="gender" th:field="*{gender}" class="form-control">
                                        <option th:value="Мужской" th:text="Мужской"></option>
                                        <option th:value="Женский" th:text="Женский"></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="secondname">Фамилия</label>
                                    <input type="text" th:field="*{secondName}" readonly class="form-control"
                                           id="secondname">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="firstname">Имя</label>
                                    <input type="text" th:field="*{firstName}" readonly class="form-control"
                                           id="firstname">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="middlename">Отчество</label>
                                    <input type="text" th:field="*{middleName}" readonly class="form-control"
                                           id="middlename">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="birth">Дата рождения</label>
                                    <input type="text" name="birth"
                                           th:value="${#dates.format(client.birthday,'dd-MM-yyyy')}" readonly
                                           class="form-control" id="birth">
                                </div>
                            </div>
                        </div>

                        <span>
                                    <button type="submit" id="save" style="display: none" class="btn btn-primary">Сохранить</button>
                                <button type="button" class="btn btn-primary" id="edit">Редактировать</button>
                                </span>
                    </form>
                </div>
            </div>

            <div th:if="${client.document!=null}" class="card">
                <div class="card-header">Документы</div>
                <div class="card-body">
                    <p style="text-align:center">
                        <a id="image1" th:href="@{/admin/client/{id}/image/1.png(id=${client.id})}"
                           title="Фото первой страницы паспорта">
                            <img width="200px" th:src="@{/admin/client/{id}/image/1.png(id=${client.id})}"
                                 alt=""/></a>
                        <a id="image2" th:href="@{/admin/client/{id}/image/2.png(id=${client.id})}"
                           title="Фото страницы с пропиской">
                            <img width="200px" th:src="@{/admin/client/{id}/image/2.png(id=${client.id})}"
                                 alt=""/></a>
                        <a id="image3" th:href="@{/admin/client/{id}/image/3.png(id=${client.id})}"
                           title="Фото лицевой стороны водительского удостоверения">
                            <img width="200px" th:src="@{/admin/client/{id}/image/3.png(id=${client.id})}"
                                 alt=""/></a>
                        <a id="image4" th:href="@{/admin/client/{id}/image/4.png(id=${client.id})}"
                           title="Фото обратной стороны водительского удостоверения">
                            <img width="200px" th:src="@{/admin/client/{id}/image/4.png(id=${client.id})}"
                                 alt=""/></a>
                        <a id="image5" th:href="@{/admin/client/{id}/image/5.png(id=${client.id})}"
                           title="Фото с водительским удостоверенением">
                            <img width="200px" th:src="@{/admin/client/{id}/image/5.png(id=${client.id})}"
                                 alt=""/></a>
                    </p>
                </div>
                <div th:if="${client.document!=null && client.activated}">
                    <div class="alert alert-success">Документы подтверждены</div>
                </div>
            </div>
        </div>
    </div>

    <form hidden id="activateForm" method="post" th:action="@{/admin/client/{id}/activate(id=${client.id})}"></form>
    <form hidden id="banForm" method="post" th:action="@{/admin/client/{id}/ban(id=${client.id})}"></form>
    <form hidden id="unbanForm" method="post" th:action="@{/admin/client/{id}/unban(id=${client.id})}"></form>
</div>

<span th:replace="/fragments/scripts.html :: scripts"></span>

<script>
    $('#birth').datepicker({
        format: 'dd-mm-yyyy'
    });
    $("a#image1").fancybox();
    $("a#image2").fancybox();
    $("a#image3").fancybox();
    $("a#image4").fancybox();
    $("a#image5").fancybox();

    $("#activate").click(function () {
        if (confirm("Подтвердите активацию клиента")) {
            $("#activateForm").submit();
        } else {

        }
    });

    $("#ban").click(function () {
        if (confirm("Подтвердите блокировку клиента")) {
            $("#banForm").submit();
        } else {

        }
    });

    $("#unban").click(function () {
        if (confirm("Подтвердите разблокировку клиента")) {
            $("#unbanForm").submit();
        } else {

        }
    });

    var edit = false;
    $('#edit').click(function () {
        if (!edit) {
            $('select').removeAttr('disabled');
            $('input[name=mail]').removeAttr('readonly');
            $('input[name=secondname]').removeAttr('readonly');
            $('input[name=firstname]').removeAttr('readonly');
            $('input[name=middlename]').removeAttr('readonly');
            $('input[name=birth]').removeAttr('readonly');
            $('#save').show();
            $(this).text("Отмена");
            $(this).removeClass("btn-primary");
            $(this).addClass("btn-default");
            edit = true;
        } else {
            location.reload();
            edit = false;
        }
    });
</script>
</body>
</html>


