<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Клиенты - Панель Управления</title>
    <span th:replace="/fragments/head.html :: head"></span>
</head>

<body>

<div id="wrap" >
    <div th:replace="/fragments/header.html :: header"></div>

    <div id="left">
        <div class="media user-media well-small">
            <div class="media-body">
                <h5 th:text="${username}" class="media-heading"></h5>
                <ul class="list-unstyled user-info">
                    <li><a class="btn btn-success btn-xs btn-circle" style="width: 10px;height: 12px;"></a> Администратор</li>
                </ul>
            </div>
        </div>

        <ul id="menu" class="collapse">

            <li style="color: #787878; padding-left: 15px">Автомобили</li>

            <li><a href="/admin/car"><i class="glyphicon glyphicon-th"></i>
                <span class="label label-danger" th:if="${carOffline!=0}"  th:text="${carOffline}"></span> Автомобили </a></li>

            <li><a href="/admin/map"><i class="glyphicon glyphicon-map-marker"></i> Карта </a></li>
            <li><a href="/admin/zones"><i class="glyphicon glyphicon-record"></i> Зоны </a></li>
            <li><a href="/admin/tracker"><i class="glyphicon glyphicon-globe"></i> Трекеры </a></li>
            <li><a href="/admin/tariff"><i class="glyphicon glyphicon-tasks"></i> Тарифы </a></li>
            <li style="color: #787878; padding-left: 15px">Клиенты</li>

            <li class="active"><a href="/admin/client"><i class="glyphicon glyphicon-user"></i><span class="label label-info" th:if="${clientNew!=0}" th:text="${'+'+clientNew}"></span> Клиенты </a></li>
            <li><a href="/admin/order"><i class="glyphicon glyphicon-shopping-cart"></i><span class="label label-danger" th:if="${orderNotPaid!=0}" th:text="${orderNotPaid}"></span> Аренды </a></li>
        </ul>
    </div>
    <div id="content">

        <div class="inner">
            <div class="row">
                <div class="col-lg-12" style="padding-top: 15px; padding-bottom: 5px">
                    <a href="" class="btn btn-inverse btn-default"><i class="icon-refresh icon-white"></i> Обновить</a>
                    <button th:if="${!client.activated && client.enabled}" id="activate" class="btn btn-primary">Подтвердить</button>
                    <button th:if="${client.enabled}" id="ban" class="btn btn-danger"><i class="glyphicon glyphicon-remove-circle"></i> Заблокировать</button>
                    <button th:if="${!client.enabled}" id="unban" class="btn btn-warning"><i class="glyphicon glyphicon-ok-circle"></i> Разблокировать</button>


                    <h3 th:if="${client.secondname!=null && client.activated}" th:text="${client}"></h3>
                    <div th:if="${!client.activated && client.enabled}"
                         class="alert alert-danger alert-dismissable"
                         style="margin-top: 10px; margin-bottom: 10px">Необходима проверка документов
                    </div>
                    <div th:if="${!client.enabled}"
                         class="alert alert-danger"
                         style="margin-top: 10px; margin-bottom: 10px">Клиент заблокирован
                    </div>
                </div>
            </div>

            <!--MAIN CONTENT -->
            <div class="row">
                <div class="col-lg-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">Общая информация</div>
                        <div class="panel-body">
                            <form th:action="@{/admin/client/edit}" th:object="${client}" method="post">

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="id">ID</label>
                                            <input type="text" th:field="*{id}" readonly class="form-control" id="id">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="telephone">Номер телефона</label>
                                            <input type="text" th:field="*{telephone}" readonly class="form-control" id="telephone">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="mail">E-Mail</label>
                                            <input type="text" th:field="*{mail}" readonly class="form-control" id="mail">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="gender">Пол</label>
                                            <select disabled id="gender" th:field="*{gender}" class="form-control">
                                                <option th:value="Мужской" th:text="Мужской"></option>
                                                <option th:value="Женский" th:text="Женский"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="secondname">Фамилия</label>
                                            <input type="text" th:field="*{secondname}" readonly class="form-control" id="secondname">
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="firstname">Имя</label>
                                            <input type="text" th:field="*{firstname}" readonly class="form-control" id="firstname">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="middlename">Отчество</label>
                                            <input type="text" th:field="*{middlename}" readonly class="form-control" id="middlename">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="birth">Дата рождения</label>
                                            <input type="text" name="birth" th:value="${#dates.format(client.birthday,'dd-MM-yyyy')}" readonly class="form-control" id="birth">
                                        </div>
                                    </div>
                                </div>

                                <span>
                                    <button type="submit" id="save" style="display: none" class="btn btn-primary">Сохранить</button>
                                <button type="button" class="btn btn-primary" id="edit">Редактировать</button>
                                </span>
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Документы</div>
                        <div th:if="${client.document!=null}" class="panel-body">
                            <p style="text-align:center">
                                <a id="image1" th:href="@{/admin/client/{id}/image/1.png(id=${client.id})}"
                                   title="Фото первой страницы паспорта">
                                    <img width="200px" th:src="@{/admin/client/{id}/image/1.png(id=${client.id})}" alt="" /></a>
                                <a id="image2" th:href="@{/admin/client/{id}/image/2.png(id=${client.id})}"
                                   title="Фото страницы с пропиской">
                                    <img width="200px" th:src="@{/admin/client/{id}/image/2.png(id=${client.id})}" alt="" /></a>
                                <a id="image3" th:href="@{/admin/client/{id}/image/3.png(id=${client.id})}"
                                   title="Фото лицевой стороны водительского удостоверения">
                                    <img width="200px" th:src="@{/admin/client/{id}/image/3.png(id=${client.id})}" alt="" /></a>
                                <a id="image4" th:href="@{/admin/client/{id}/image/4.png(id=${client.id})}"
                                   title="Фото обратной стороны водительского удостоверения">
                                    <img width="200px" th:src="@{/admin/client/{id}/image/4.png(id=${client.id})}" alt="" /></a>
                                <a id="image5" th:href="@{/admin/client/{id}/image/5.png(id=${client.id})}"
                                   title="Фото с водительским удостоверенением">
                                    <img width="200px" th:src="@{/admin/client/{id}/image/5.png(id=${client.id})}" alt="" /></a>
                            </p>
                        </div>
                        <div th:if="${client.document!=null && client.activated}">
                            <div class="alert alert-success">Документы подтверждены</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form hidden id="activateForm" method="post" th:action="@{/admin/client/{id}/activate(id=${client.id})}"></form>
    <form hidden id="banForm" method="post" th:action="@{/admin/client/{id}/ban(id=${client.id})}"></form>
    <form hidden id="unbanForm" method="post" th:action="@{/admin/client/{id}/unban(id=${client.id})}"></form>
</div>

<span th:replace="/fragments/scripts.html :: scripts"></span>

<script>
    $('#birth').datepicker({
        format: 'dd-mm-yyyy'
    });
    $("a#image1").fancybox();
    $("a#image2").fancybox();
    $("a#image3").fancybox();
    $("a#image4").fancybox();
    $("a#image5").fancybox();

    $("#activate").click(function () {
        if (confirm("Подтвердите активацию клиента")){
            $("#activateForm").submit();
        }else {

        }
    });

    $("#ban").click(function () {
        if (confirm("Подтвердите блокировку клиента")){
            $("#banForm").submit();
        } else {

        }
    });

    $("#unban").click(function () {
        if (confirm("Подтвердите разблокировку клиента")){
            $("#unbanForm").submit();
        } else {

        }
    });

    var edit = false;
    $('#edit').click(function () {
        if (!edit){
            $('select').removeAttr('disabled');
            $('input[name=mail]').removeAttr('readonly');
            $('input[name=secondname]').removeAttr('readonly');
            $('input[name=firstname]').removeAttr('readonly');
            $('input[name=middlename]').removeAttr('readonly');
            $('input[name=birth]').removeAttr('readonly');
            $('#save').show();
            $(this).text("Отмена");
            $(this).removeClass("btn-primary");
            $(this).addClass("btn-default");
            edit = true;
        }else {
            location.reload();
            edit = false;
        }
    });
</script>
</body>
</html>


