<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Клиенты - Панель Управления</title>
    <span th:replace="/fragments/head.html :: head"></span>
</head>

<body>
<div id="wrap">

    <div th:replace="/fragments/header"></div>
    <div th:replace="/fragments/menu"></div>

    <div id="content">
        <div class="inner">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/client">Все клиенты
                        <span th:text="${allCount}" class="label label-default"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/client?v=activated">Подтвержденные
                        <span th:text="${activatedCount}" class="label label-default"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/client?v=notActivated">Не подтвержденные
                        <span th:text="${notActivatedCount}" class="label label-danger"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/client?v=banned">Заблокированные
                        <span th:text="${bannedCount}" class="label label-default"></span>
                    </a>
                </li>
            </ul>

            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>ФИО</th>
                    <th>Телефон</th>
                    <th>E-Mail</th>
                    <th>Дата рождения</th>
                    <th>Дата регистрации</th>
                    <th>Доступен</th>
                    <th>Подтвержден</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="c: ${clients}">
                    <td>
                        <a th:href="@{/admin/client/{id}(id=${c.id})}">
                            <button class="btn btn-primary btn-sm">
                                <i class="fas fa-edit"></i>
                            </button>
                        </a>
                    </td>
                    <td th:text="${c.id}"></td>
                    <td th:if="${c.secondName==null}"></td>
                    <td th:if="${c.secondName!=null}" th:text="${c.secondName+' '+c.firstName+' '+c.middleName}"></td>
                    <td th:text="${c.telephone}"></td>
                    <td th:text="${c.email}"></td>
                    <td th:text="${#dates.format(c.birthday,'dd-MM-yyyy')}"></td>
                    <td th:text="${#dates.format(c.registrationDate,'dd-MM-yyyy HH:ss')}"></td>
                    <td th:switch="${c.enabled}">
                        <button th:case="true" type="button" class="btn btn-success btn-circle"><i
                                class="fas fa-check"></i></button>
                        <button th:case="false" type="button" class="btn btn-danger btn-circle"><i
                                class="fas fa-times"></i></button>
                    </td>
                    <td th:switch="${c.activated}">
                        <button th:case="true" type="button" class="btn btn-success btn-circle"><i
                                class="fas fa-check"></i></button>
                        <button th:case="false" type="button" class="btn btn-danger btn-circle"><i
                                class="fas fa-times"></i></button>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>

<span th:replace="/fragments/scripts.html :: scripts"></span>

</body>
</html>


