<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Трекеры - Панель Управления</title>
    <span th:replace="/fragments/head.html :: head"></span>
</head>

<body>
<div id="wrap">

    <div th:replace="/fragments/header"></div>
    <div th:replace="/fragments/menu"></div>

    <div id="content">

        <div class="inner">
            <div class="row">
                <a href="/admin/tracker/new" class="btn btn-primary btn-sm">Добавить трекер</a>
            </div>
        </div>

        <div class="inner">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/tracker">Все трекеры
                        <span th:text="${allCount}" class="label label-default"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/tracker?v=enable">Включенные
                        <span th:text="${enableCount}" class="label label-default"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/tracker?v=disable">Отключенные
                        <span th:text="${disableCount}" class="label label-default"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/tracker?v=online">На связи
                        <span th:text="${onlineCount}" class="label label-default"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/tracker?v=offline">Нет свзяи
                        <span th:text="${offlineCount}" class="label label-danger"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/tracker?v=empty">Пустые
                        <span th:text="${emptyCount}" class="label label-warning"></span></a>
                </li>
            </ul>

            <div th:if="${trackers.size()==0}">
                <div class="table-responsive">
                    Таблица пуста
                </div>
            </div>
            <div th:if="${trackers.size()!=0}">
                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Активирован</th>
                        <th>На связи</th>
                        <th>IMEI устройства</th>
                        <th>ID устройства</th>
                        <th>Протокол</th>
                        <th>Номер, №1</th>
                        <th>Номер, №2</th>
                        <th>Автомобиль</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="t: ${trackers}">
                        <td>
                            <a th:href="@{/admin/tracker/{id}(id=${t.id})}">
                                <button class="btn btn-primary btn-sm">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </a>
                        </td>
                        <td th:text="${t.id}"></td>
                        <td><a th:href="@{/admin/tracker/{id}(id=${t.id})}"><span th:text="${t.name}"></span></a></td>
                        <td th:switch="${t.enabled}">
                            <button th:case="true" type="button" class="btn btn-success btn-circle"><i
                                    class="fas fa-check"></i></button>
                            <button th:case="false" type="button" class="btn btn-danger btn-circle"><i
                                    class="fas fa-times"></i></button>
                        </td>
                        <td th:switch="${t.online}">
                            <button th:case="true" type="button" class="btn btn-success btn-circle"><i
                                    class="fas fa-check"></i></button>
                            <button th:case="false" type="button" class="btn btn-danger btn-circle"><i
                                    class="fas fa-times"></i></button>
                        </td>
                        <td th:text="${t.imei}"></td>
                        <td th:text="${t.identifyNumber}"></td>
                        <td th:text="${t.protocol}"></td>
                        <td th:text="${t.phoneFirst}"></td>
                        <td th:text="${t.phoneSecond}"></td>
                        <td><a th:if="${t.car!=null}" th:href="@{/admin/car/{id}(id=${t.car.id})}"><span
                                th:text="${t.car.number}"></span></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<span th:replace="/fragments/scripts.html :: scripts"></span>

</body>
</html>


