<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Трекеры - Панель Управления</title>

    <!-- GLOBAL STYLES -->
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/theme.css}" />
    <link rel="stylesheet" th:href="@{/css/MoneAdmin.css}" />
    <link rel="stylesheet" th:href="@{/plugins/Font-Awesome/css/font-awesome.css}" />
    <!--END GLOBAL STYLES -->

    <!-- PAGE LEVEL STYLES -->
    <link th:href="@{/plugins/dataTables/dataTables.bootstrap.css}" rel="stylesheet" />
    <!-- END PAGE LEVEL  STYLES -->
</head>


<body>

<!-- MAIN WRAPPER -->
<div id="wrap" >

    <!-- HEADER SECTION -->
    <div th:replace="/fragments/header.html :: header"></div>
    <!-- END HEADER SECTION -->

    <div id="left">
        <div class="media user-media well-small">
            <div class="media-body">
                <h5 th:text="${username}" class="media-heading"></h5>
                <ul class="list-unstyled user-info">
                    <li><a class="btn btn-success btn-xs btn-circle" style="width: 10px;height: 12px;"></a> Администратор</li>
                </ul>
            </div>
        </div>

        <ul id="menu" class="collapse">

            <li style="color: #787878; padding-left: 15px">Автомобили</li>

            <li><a href="/admin/car"><i class="glyphicon glyphicon-th"></i>
                <span class="label label-danger" th:if="${carOffline!=0}"  th:text="${carOffline}"></span> Автомобили </a></li>

            <li><a href="/admin/map"><i class="glyphicon glyphicon-map-marker"></i> Карта </a></li>
            <li><a href="/admin/zones"><i class="glyphicon glyphicon-record"></i> Зоны </a></li>
            <li class="active"><a href="/admin/tracker"><i class="glyphicon glyphicon-globe"></i> Трекеры </a></li>
            <li><a href="/admin/tariff"><i class="glyphicon glyphicon-tasks"></i> Тарифы </a></li>
            <li style="color: #787878; padding-left: 15px">Клиенты</li>

            <li><a href="/admin/client"><i class="glyphicon glyphicon-user"></i><span class="label label-info" th:if="${clientNew!=0}" th:text="${'+'+clientNew}"></span> Клиенты </a></li>
            <li><a href="/admin/order"><i class="glyphicon glyphicon-shopping-cart"></i><span class="label label-danger" th:if="${orderNotPaid!=0}" th:text="${orderNotPaid}"></span> Аренды </a></li>
        </ul>
    </div>

    <!--PAGE CONTENT -->
    <div id="content">

        <div class="inner">
            <!--MAIN CONTENT -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-body" style="padding-left: 0;">
                        <a href="" class="btn btn-inverse btn-default"><i class="icon-refresh icon-white"></i> Обновить</a>
                        <a href="/admin/tracker/new" class="btn btn-primary"><span class="icon-ok"></span> Добавить трекер</a>
                    </div>

                    <ul class="nav nav-tabs">
                        <li th:if="${#httpServletRequest.getParameter('v')=='all' || #httpServletRequest.getParameter('v')==null}" class="active">
                            <a href="/admin/tracker">Все трекеры <span th:text="${allCount}" class="label label-default"></span></a>
                        </li>
                        <li th:if="${#httpServletRequest.getParameter('v')!='all' && #httpServletRequest.getParameter('v')!=null}">
                            <a href="/admin/tracker">Все трекеры <span th:text="${allCount}" class="label label-default"></span></a>
                        </li>
                        <li th:if="${#httpServletRequest.getParameter('v')=='enable'}" class="active">
                            <a href="/admin/tracker?v=enable">Включенные <span th:text="${enableCount}" class="label label-default"></span></a>
                        </li>
                        <li th:if="${#httpServletRequest.getParameter('v')!='enable'}">
                            <a href="/admin/tracker?v=enable">Включенные <span th:text="${enableCount}" class="label label-default"></span></a>
                        </li>
                        <li th:if="${#httpServletRequest.getParameter('v')=='disable'}" class="active">
                            <a href="/admin/tracker?v=disable">Отключенные <span th:text="${disableCount}" class="label label-default"></span></a>
                        </li>
                        <li th:if="${#httpServletRequest.getParameter('v')!='disable'}">
                            <a href="/admin/tracker?v=disable">Отключенные <span th:text="${disableCount}" class="label label-default"></span></a>
                        </li>
                        <li th:if="${#httpServletRequest.getParameter('v')=='online'}" class="active">
                            <a href="/admin/tracker?v=online">На связи <span th:text="${onlineCount}" class="label label-default"></span></a>
                            </li>
                        <li th:if="${#httpServletRequest.getParameter('v')!='online'}">
                            <a href="/admin/tracker?v=online">На связи <span th:text="${onlineCount}" class="label label-default"></span></a>
                        </li>
                        <li th:if="${#httpServletRequest.getParameter('v')=='offline'}" class="active">
                            <a href="/admin/tracker?v=offline">Нет свзяи <span th:text="${offlineCount}" class="label label-danger"></span></a>
                        </li>
                        <li th:if="${#httpServletRequest.getParameter('v')!='offline'}">
                            <a href="/admin/tracker?v=offline">Нет свзяи <span th:text="${offlineCount}" class="label label-danger"></span></a>
                        </li>
                        <li th:if="${#httpServletRequest.getParameter('v')=='empty'}" class="active">
                            <a href="/admin/tracker?v=empty">Пустые <span th:text="${emptyCount}" class="label label-warning"></span></a>
                        </li>
                        <li th:if="${#httpServletRequest.getParameter('v')!='empty'}">
                            <a href="/admin/tracker?v=empty">Пустые <span th:text="${emptyCount}" class="label label-warning"></span></a>
                        </li>
                    </ul>

                    <div class="panel panel-default">

                        <div th:if="${trackers.size()==0}" class="panel-body">
                            <div class="table-responsive">
                                Таблица пуста
                            </div>
                        </div>
                        <div th:if="${trackers.size()!=0}" class="panel-body" style="padding: 5px 5px 0">
                            <table class="table table-hover table-sm" id="autoTable">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>Название</th>
                                    <th>Активирован</th>
                                    <th>На связи</th>
                                    <th>IMEI устройства</th>
                                    <th>ID устройства</th>
                                    <th>Протокол</th>
                                    <th>Номер, №1</th>
                                    <th>Номер, №2</th>
                                    <th>Автомобиль</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="t: ${trackers}">
                                    <td>
                                        <a th:href="@{/admin/tracker/{id}(id=${t.id})}">
                                            <button class="btn btn-primary"><i class="icon-edit icon-white"></i></button>
                                        </a>
                                    </td>
                                    <td th:text="${t.id}"></td>
                                    <td><a th:href="@{/admin/tracker/{id}(id=${t.id})}"><span th:text="${t.name}"></span></a></td>
                                    <td th:switch="${t.enabled}">
                                        <button th:case="true"  type="button" class="btn btn-success btn-circle"><i class="icon-ok"></i></button>
                                        <button th:case="false"  type="button" class="btn btn-danger btn-circle"><i class="icon-remove"></i></button>
                                    </td>
                                    <td th:switch="${t.online}">
                                        <button th:case="true"  type="button" class="btn btn-success btn-circle"><i class="icon-ok"></i></button>
                                        <button th:case="false"  type="button" class="btn btn-danger btn-circle"><i class="icon-remove"></i></button>
                                    </td>
                                    <td th:text="${t.imei}"></td>
                                    <td th:text="${t.identifyNumber}"></td>
                                    <td th:text="${t.protocol}"></td>
                                    <td th:text="${t.phoneFirst}"></td>
                                    <td th:text="${t.phoneSecond}"></td>
                                    <td><a th:if="${t.car!=null}" th:href="@{/admin/car/{id}(id=${t.car.id})}"><span th:text="${t.car.number}"></span></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--END MAIN CONTENT -->




        </div>
    </div>
    <!--END PAGE CONTENT -->

</div>

<!--END MAIN WRAPPER -->

<!-- FOOTER -->
<div id="footer">

</div>
<!--END FOOTER -->


<!-- GLOBAL SCRIPTS -->
<script th:src="@{/plugins/jquery-2.0.3.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/modernizr-2.6.2-respond-1.1.0.min.js}"></script>
<!-- END GLOBAL SCRIPTS -->

<!-- PAGE LEVEL SCRIPTS -->
<script th:src="@{/plugins/dataTables/jquery.dataTables.js}"></script>
<script th:src="@{/plugins/dataTables/dataTables.bootstrap.js}"></script>

<script>
    $(document).ready(function () {
        $('#autoTable').dataTable({
            "language": {
                "processing": "Подождите...",
                "search": "Поиск: ",
                "lengthMenu": "Показать _MENU_ записей",
                "info": "показано с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 из 0 записей",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                }
            }
        });
    });
</script>

<!-- END PAGE LEVEL SCRIPTS -->


</body>

<!-- END BODY -->
</html>


