<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Трекеры - Панель Управления</title>
    <span th:replace="/fragments/head.html :: head"></span>
</head>

<body>

<div id="wrap">

    <div th:replace="/fragments/header"></div>
    <div th:replace="/fragments/menu"></div>

    <div id="content">

        <div class="inner" style="padding: 10px">
            <div class="card">
                <div class="card-header">Новый трекер</div>
                <div class="card-body col-lg-6">
                    <form th:action="@{/admin/tracker/edit}" th:object="${tracker}"
                          method="post"
                          class="form-horizontal" name="myForm">
                        <div class="form-group">
                            <label class="control-label">Название</label>
                            <input type="text" th:field="*{name}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">IMEI Устройства</label>
                            <input type="text" th:field="*{imei}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Идентификационный номер</label>
                            <input type="text" th:field="*{identifyNumber}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Формат передачи данных</label>
                            <select th:field="*{protocol}" class="form-control">
                                <option th:value="FLEX">FLEX</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Номер телефона,№1</label>
                            <input type="text" th:field="*{phoneFirst}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Номер телефона,№2</label>
                            <input type="text" th:field="*{phoneSecond}" class="form-control">
                            <input type="text" hidden th:field="*{id}">
                            <input type="text" hidden th:field="*{online}">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Принимать данные?</label>
                            <div class="make-switch switch-small" data-on-label="Да" data-off-label="Нет">
                                <input type="checkbox" th:field="*{enabled}" th:value="*{enabled}"/>
                            </div>
                        </div>


                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<span th:replace="/fragments/scripts.html :: scripts"></span>

</body>
</html>


