<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Карта - Панель Управления</title>
    <span th:replace="/fragments/head.html :: head"></span>
</head>

<body>

<div id="wrap" >

    <div th:replace="/fragments/header"></div>
    <div th:replace="/fragments/menu"></div>

    <div id="content">

        <div class="inner">
            <div class="row">
                <button id="btn-driving" class="btn btn-primary btn-sm">Скрыть зоны поездок</button>
                <button id="btn-parking" class="btn btn-danger btn-sm">Скрыть зоны парковок</button>
            </div>
        </div>

        <div class="inner">
            <div class="box">
                <div id="map" style="height: 540px;"></div>
            </div>
        </div>
    </div>
</div>

<span th:replace="/fragments/scripts.html :: scripts"></span>
<script>
    var map;
    var markers =[];
    var imageDanger = '/img/dangerMarker.png';
    var imageSuccess = '/img/successMarker.png';
    var imagePrimary = '/img/primaryMarker.png';
    var imageWarning = '/img/warningMarker.png';
    var imageIcon;
    var showDriving = true;
    var showParking = true;
    var polygons = [];

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: {lat: 56.827221, lng: 60.602424},
            gestureHandling: 'greedy', //Убрать use ctrl
            streetViewControl: false,
            zoomControl: true,
            zoomControlOptions: {
                position: google.maps.ControlPosition.RIGHT_CENTER
            }
        });

        downloadUrl('/admin/map/api/marker', function (data) {
            var text = JSON.parse(data.responseText);
            var array = text.markerList;
            markers = [];
            var infoWindow = new google.maps.InfoWindow;
            array.map(function (item) {
                var lat = item['lat'];
                var lon = item['lon'];
                var point = new google.maps.LatLng(
                    parseFloat(lat),
                    parseFloat(lon)
                );
                var online = item['online'];
                var enabled = item['enabled'];
                var rented = item['rented'];
                if (online && enabled && !rented){
                    imageIcon = imagePrimary;
                }else if (online && enabled && rented){
                    imageIcon = imageSuccess;
                }else if (!enabled){
                    imageIcon = imageWarning;
                }else {
                    imageIcon = imageDanger;
                }
                var marker = new google.maps.Marker({
                    map: map,
                    position: point,
                    icon: imageIcon
                });
                marker.addListener('click', function() {
                    infoWindow.setContent(createInfoWindow(item));
                    infoWindow.open(map, marker);
                });
                markers.push(marker);
            });
        });

        downloadUrl('/admin/map/api/zones', function (data) {
            var zones = JSON.parse(data.responseText);
            for (var i =0; i < zones.length; i++) {
                var id = zones[i]['id'];
                var type = zones[i]['type'];
                var coords = JSON.parse(zones[i]['polygon']);
                var buttonId = polygons.length;
                if (type==1) {//Зона парковки если 1
                    var polygon = new google.maps.Polygon({
                        id: id,
                        zoneId: buttonId,
                        zoneType: type,
                        paths: coords,
                        strokeColor: '#e20004',
                        draggable: false,
                        editable: false,
                        strokeOpacity: 0.15,
                        strokeWeight: 2,
                        fillColor: '#e20004',
                        fillOpacity: 0.15
                    });
                }else {
                    //Зона поездок
                    var polygon = new google.maps.Polygon({
                        id: id,
                        zoneId: buttonId,
                        zoneType: type,
                        paths: coords,
                        strokeColor: '#0000FF',
                        draggable: false,
                        editable: false,
                        strokeOpacity: 0.15,
                        strokeWeight: 2,
                        fillColor: '#0000FF',
                        fillOpacity: 0.15
                    });
                }
                polygons.push(polygon);
                polygon.setMap(map);
            }
        });

        $('#btn-driving').click(function () {
            if (showDriving){
                $(this).text('Показать зоны поездок');
                showDriving = false;
                for (var i = 0; i < polygons.length; i++) {
                    if (polygons[i].zoneType==2){
                        polygons[i].setMap(null);
                    }
                }
            }else {
                $(this).text('Скрыть зоны поездок');
                showDriving = true;
                for (var i = 0; i < polygons.length; i++) {
                    if (polygons[i].zoneType==2){
                        polygons[i].setMap(map);
                    }
                }
            }
        });

        $('#btn-parking').click(function () {
            if (showParking){
                $(this).text('Показать зоны парковок');
                showParking = false;
                for (var i = 0; i < polygons.length; i++) {
                    if (polygons[i].zoneType==1){
                        polygons[i].setMap(null);
                    }
                }
            }else {
                $(this).text('Скрыть зоны парковок');
                showParking = true;
                for (var i = 0; i < polygons.length; i++) {
                    if (polygons[i].zoneType==1){
                        polygons[i].setMap(map);
                    }
                }
            }
        });

        setInterval(function () {
            downloadUrl('/admin/map/api/marker', function (data) {
                var text = JSON.parse(data.responseText);
                var array = text.markerList;
                for (i in array){
                    var id = array[i]['id'];
                    var speed = array[i]['speed'];
                    var lat = array[i]['lat'];
                    var lon = array[i]['lon'];
                    var point = new google.maps.LatLng(
                        parseFloat(lat),
                        parseFloat(lon)
                    );
                    markers[i].setPosition(point);
                    var online = array[i]['online'];
                    var enabled = array[i]['enabled'];
                    var rented = array[i]['rented'];
                    if (online && enabled && !rented){
                        markers[i].setIcon(imagePrimary);
                    }else if (online && enabled && rented){
                        markers[i].setIcon(imageSuccess);
                    }else if (!enabled){
                        markers[i].setIcon(imageWarning);
                    }else {
                        markers[i].setIcon(imageDanger);
                    }
                    $('#info-'+id).replaceWith(createInfoWindow(array[i]));
                }
            });
        },1000);
    }

    function createInfoWindow(item) {
        var window;
        var id = item['id'];
        var name = item['name'];
        var number = item['number'];
        var transmission = item['transmission'];
        var year = item['year'];
        var online = item['online'];
        var enabled = item['enabled'];
        var rented = item['rented'];
        var opened = item['opened'];
        var lastTime = item['lastTime'];
        var speed = item['speed'];
        var mileage = item['mileage'];
        var fuelLevel = item['fuelLevel'];
        var lat = item['lat'];
        var lon = item['lon'];
        if(lat!=null && lon!=null){
            lat = lat.toString().substr(0, 9);
            lon = lon.toString().substr(0, 9);
        }

        var date = new Date(lastTime);
        lastTime = date.toTimeString().substr(0, 8);

        if (!online) {
            window = "<div id='info-"+id+"'>" +
                "<div><b>" + name + "</b></div>" +
                "<div>Id: " + id + "</div>" +
                "<div>Госномер: " + number + "</div>" +
                "<div>Год: " + year + "</div>" +
                "<div>Коробка передач: " + transmission + "</div>" +
                "<div><b>Связь потеряна</b></div>" +
                "<div>Последний сигнал: " + lastTime + "</div>";
            window += opened ? "<div>Замок: Открыт</div>" : "<div>Замок: Закрыт</div>";
            window += rented ? "<div>Состояние: В аренде</div>" : "<div>Состояние: Не в аренде</div>";
            window +=
                "<div>Местоположение: "+lat+", "+lon+"</div>" +
                "<div>Скорость: <span id='speed"+id+"'>"+speed+"</span> км/ч</div>" +
                "<div>Пробег: "+mileage+" км</div>" +
                "<div>Уровень топлива: "+fuelLevel+" %</div>" +
                "<div><a class='btn btn-primary btn-xs' href='/admin/car/"+id+"' target='_blank'>К автомобилю</a></div>" +
                "</div";
        }else {
            window = "<div id='info-"+id+"'>" +
                "<div><b>" + name + "</b></div>" +
                "<div>Id: " + id + "</div>" +
                "<div>Госномер: " + number + "</div>" +
                "<div>Год: " + year + "</div>" +
            "<div>Коробка передач: " + transmission + "</div>";
            window += opened ? "<div>Замок: Открыт</div>" : "<div>Замок: Закрыт</div>";
            window += rented ? "<div>Состояние: В аренде</div>" : "<div>Состояние: Не в аренде</div>";
            window +=
                "<div>Местоположение: "+lat+", "+lon+"</div>" +
                "<div>Скорость: <span id='speed'>"+speed+"</span> км/ч</div>" +
                "<div>Пробег: "+mileage+" км</div>" +
                "<div>Уровень топлива: "+fuelLevel+" %</div>" +
                "<div><a class='btn btn-primary btn-xs' href='/admin/car/"+id+"' target='_blank'>К автомобилю</a></div>" +
                "</div";
        }
        return window;
    }

    function downloadUrl(url, callback) {
        var request = window.ActiveXObject ?
            new ActiveXObject('Microsoft.XMLHTTP') :
            new XMLHttpRequest;

        request.onreadystatechange = function() {
            if (request.readyState == 4) {
                request.onreadystatechange = doNothing;
                callback(request, request.status);
            }
        };
        request.open('GET', url, true);
        request.send(null);
    }

    function doNothing() {}
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_4xDW9DeV1ZyB7FcML-20QyUNlO_Sweo&callback=initMap">
</script>

</body>
</html>


