<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Зоны - Панель Управления</title>
    <span th:replace="/fragments/head.html :: head"></span>
</head>

<body>
<div id="wrap" >

    <div th:replace="/fragments/header"></div>

    <div th:replace="/fragments/menu"></div>

    <div id="content">

        <div class="inner">
            <div class="row">
                <button class="btn btn-primary btn-sm" id="add-driving-polygon">Добавить зону поездок</button>
                <button class="btn btn-danger btn-sm" id="add-parking-polygon">Добавить зону завершения аренды</button>
            </div>
        </div>

        <div class="inner">
            <div class="box">
                <div id="map" style="height: 540px;"></div>
            </div>
        </div>
    </div>
</div>

<span th:replace="/fragments/scripts.html :: scripts"></span>

<script>
    var map;
    var bounds;
    var showDriving = true;
    var showParking = true;
    var polygons = [];

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: {lat: 56.827221, lng: 60.602424},
            gestureHandling: 'greedy', //Убрать use ctrl
            streetViewControl: false,
            zoomControl: true,
            zoomControlOptions: {
                position: google.maps.ControlPosition.RIGHT_CENTER
            }
        });

        downloadUrl('/admin/map/api/zones', function (data) {
            var zones = JSON.parse(data.responseText);
            for (var i =0; i < zones.length; i++) {

                var id = zones[i]['id'];
                var type = zones[i]['type'];
                var coords = JSON.parse(zones[i]['polygon']);
                var buttonId = polygons.length;
                if (type==1) {//Зона парковки если 1
                    var polygon = new google.maps.Polygon({
                        id: id,
                        zoneId: buttonId,
                        zoneType: type,
                        paths: coords,
                        strokeColor: '#e20004',
                        draggable: false,
                        editable: false,
                        strokeOpacity: 0.5,
                        strokeWeight: 2,
                        fillColor: '#e20004',
                        fillOpacity: 0.2
                    });
                }else {
                    //Зона поездок
                    var polygon = new google.maps.Polygon({
                        id: id,
                        zoneId: buttonId,
                        zoneType: type,
                        paths: coords,
                        strokeColor: '#0000FF',
                        draggable: false,
                        editable: false,
                        strokeOpacity: 0.5,
                        strokeWeight: 2,
                        fillColor: '#0000FF',
                        fillOpacity: 0.2
                    });
                }
                polygons.push(polygon);
                polygon.setMap(map);
                polygon.addListener('click', showArrays);
                infoWindow = new google.maps.InfoWindow;

            }
        });
        google.maps.event.addListener(map, 'bounds_changed', function() {
            bounds = map.getBounds().getCenter();
        });
        $('#btn-driving').click(function () {
            if (showDriving){
                $(this).text('Показать зоны поездок');
                showDriving = false;
                for (var i = 0; i < polygons.length; i++) {
                    if (polygons[i].zoneType==2){
                        polygons[i].setMap(null);
                    }
                }
            }else {
                $(this).text('Скрыть зоны поездок');
                showDriving = true;
                for (var i = 0; i < polygons.length; i++) {
                    if (polygons[i].zoneType==2){
                        polygons[i].setMap(map);
                    }
                }
            }
        });

        $('#btn-parking').click(function () {
            if (showParking){
                $(this).text('Показать зоны парковок');
                showParking = false;
                for (var i = 0; i < polygons.length; i++) {
                    if (polygons[i].zoneType==1){
                        polygons[i].setMap(null);
                    }
                }
            }else {
                $(this).text('Скрыть зоны парковок');
                showParking = true;
                for (var i = 0; i < polygons.length; i++) {
                    if (polygons[i].zoneType==1){
                        polygons[i].setMap(map);
                    }
                }
            }
        });

        $('#add-parking-polygon').click(function (event) {
            var lat = bounds.lat();
            var lng = bounds.lng();
            var coords = [
                {lat: bounds.lat(), lng: lng},
                {lat: lat+0.01, lng: lng+0.05},
                {lat: lat+0.02, lng: lng+0.01}
            ];
            var buttonId = polygons.length;
            var ParkingPolygon = new google.maps.Polygon({
                id: 0,
                zoneId: buttonId,
                zoneType: 1,
                paths: coords,
                strokeColor: '#e20004',
                draggable: true,
                editable: true,
                strokeOpacity: 0.5,
                strokeWeight: 2,
                fillColor: '#e20004',
                fillOpacity: 0.2
            });

            polygons.push(ParkingPolygon);
            ParkingPolygon.setMap(map);
            ParkingPolygon.addListener('click', showArrays);
            infoWindow = new google.maps.InfoWindow;
        });

        $('#add-driving-polygon').click(function () {
            var lat = bounds.lat();
            var lng = bounds.lng();
            var coords = [
                {lat: bounds.lat(), lng: lng},
                {lat: lat+0.01, lng: lng+0.05},
                {lat: lat+0.02, lng: lng+0.01}
            ];
            var buttonId = polygons.length;
            var drivingPolygon = new google.maps.Polygon({
                id: 0,
                zoneId: buttonId,
                zoneType: 2,
                paths: coords,
                strokeColor: '#0000FF',
                draggable: true,
                editable: true,
                strokeOpacity: 0.5,
                strokeWeight: 2,
                fillColor: '#0000FF',
                fillOpacity: 0.15
            });
            polygons.push(drivingPolygon);
            drivingPolygon.setMap(map);
            drivingPolygon.addListener('click', showArrays);
            infoWindow = new google.maps.InfoWindow;
        });
    }

    function showArrays(event) {
        var contentString="";
        var id = this.zoneId;
        var textInfo;
        if (this.zoneType==1){
            textInfo = "Зона завершения аренды";
        }else {
            textInfo = "Зона возждения"
        }
        if (this.editable){
            contentString = '<div style="padding-bottom: 10px"><b>'+textInfo+'</b></div></div>' +
                '<button id="save-'+id+'" style="margin-right: 5px" class="btn btn-primary btn-xs">Сохранить</button>' +
                '<button id="delete-'+id+'" class="btn btn-danger btn-xs">Удалить</button></div>';
            infoWindow.setContent(contentString);
            infoWindow.setPosition(event.latLng);
            infoWindow.open(map);
            $('#save-'+id).click(function () {
                for (var i = 0; i < polygons.length; i++) {
                    if (polygons[i].zoneId===id){
                        var idDB = polygons[i].id;
                        var zoneTypeDB = polygons[i].zoneType;
                        polygons[i].setEditable(false);
                        polygons[i].setDraggable(false);
                        var t = polygons[i].getPath();
                        var pol = "[";
                        for (var i =0; i < t.getLength(); i++) {
                            var xy = t.getAt(i);
                            pol+="{\"lat\":"+xy.lat()+", \"lng\":"+xy.lng()+"},";
                        }
                        pol = pol.substring(0,pol.length-1);//удаляем последнуюю запятую
                        pol+="]";

                        $.ajax({
                            type: "POST",
                            url: "/admin/map/api/savePolygon",
                            data: {
                                id:idDB,
                                polygon: pol,
                                type: zoneTypeDB
                            },
                            statusCode: {
                                200: function() {
                                    console.log('Зона сохранена');
                                }
                            }
                        });

                        break;
                    }
                }
                infoWindow.close();
            });

            $('#delete-'+id).click(function () {
                var pol;
                var drivingZoneCount = 0;
                for (var i = 0; i < polygons.length; i++) {
                    if (polygons[i].zoneId===id){
                        pol = polygons[i];
                    }
                    if (polygons[i].zoneType==2){
                        drivingZoneCount++;
                    }
                }
                var idDB = pol.id;
                var zoneTypeDB = pol.zoneType;
                if (zoneTypeDB == 2 && drivingZoneCount<=1){
                    alert("Нельзя удалить все зоны возждения");
                }else {
                    pol.setMap(null);
                    $.ajax({
                        type: "POST",
                        url: "/admin/map/api/deleteZone",
                        data: {
                            id:idDB
                        },
                        statusCode: {
                            200: function() {
                                console.log('Зона удалена');
                            }
                        }
                    });
                }
                infoWindow.close();
            });
        }else {
            contentString = '<div style="padding-bottom: 10px"><b>'+textInfo+'</b></div></div>' +
                '<button id="edit-'+id+'" style="margin-right: 5px" class="btn btn-primary btn-xs">Редактировать</button></div>';

            infoWindow.setContent(contentString);
            infoWindow.setPosition(event.latLng);
            infoWindow.open(map);
            $('#edit-'+id).click(function () {
                for (var i = 0; i < polygons.length; i++) {
                    if (polygons[i].zoneId===id){
                        polygons[i].setEditable(true);
                        polygons[i].setDraggable(true);
                        break;
                    }
                }
                infoWindow.close();
            });
        }
    }
    function downloadUrl(url, callback) {
        var request = window.ActiveXObject ?
            new ActiveXObject('Microsoft.XMLHTTP') :
            new XMLHttpRequest;
        request.onreadystatechange = function() {
            if (request.readyState == 4) {
                request.onreadystatechange = doNothing;
                callback(request, request.status);
            }
        };
        request.open('GET', url, true);
        request.send(null);
    }

    function doNothing() {}
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_4xDW9DeV1ZyB7FcML-20QyUNlO_Sweo&callback=initMap">
</script>

</body>
</html>


