<div id="top" th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav  class="navbar navbar-inverse" style="background-color: #3c8dbc; padding-top: 10px; border-width: 0;" >
        <div style="height: 53px;font-size: 16px; padding: 15px; background-color: #367fa9; top: -10px; color: white;" id="left">
            Панель Управления
        </div>
        <a data-original-title="Show/Hide Menu" style="float: right" data-placement="bottom"
           data-tooltip="tooltip" class="accordion-toggle btn btn-primary btn-sm visible-xs"
           data-toggle="collapse" href="#menu" id="menu-toggle">
            <i class="icon-align-justify"></i>
        </a>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user "></i>&nbsp; <i class="icon-chevron-down "></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li class="divider"></li>
                    <li><a th:href="@{/admin/logout}"><i class="icon-signout"></i> Выход </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>