<div id="left" th:fragment="menu" xmlns:th="http://www.w3.org/1999/xhtml">

    <ul id="menu">
        <li><a href="/admin/car"><i class="fas fa-car-side"></i>
            <span class="label label-danger" th:if="${carOffline!=0}"  th:text="${carOffline}"></span> Автомобили </a></li>
        <li><a href="/admin/map"><i class="fas fa-map-marker"></i> Карта </a></li>
        <li><a href="/admin/zones"><i class="fas fa-location-arrow"></i> Зоны </a></li>
        <li><a href="/admin/tracker"><i class="fas fa-car-battery"></i> Трекеры </a></li>
        <li><a href="/admin/tariff"><i class="fas fa-money-check-alt"></i> Тарифы </a></li>
        <li style="color: #787878; padding-left: 15px">Клиенты</li>
        <li><a href="/admin/client"><i class="fas fa-users"></i><span class="label label-info" th:if="${clientNew!=0}" th:text="${'+'+clientNew}"></span> Клиенты </a></li>
        <li><a href="/admin/order"><i class="fas fa-retweet"></i><span class="label label-danger" th:if="${orderNotPaid!=0}" th:text="${orderNotPaid}"></span> Аренды </a></li>
    </ul>
</div>