<span th:fragment="scripts" xmlns:th="http://www.thymeleaf.org">
    <script src="/plugins/jquery-2.0.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="/plugins/daterangepicker/moment.min.js"></script>
    <script src="/plugins/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/plugins/timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="/plugins/switch/static/js/bootstrap-switch.min.js"></script>
    <script src="/plugins/jquery.fancybox-1.3.4/jquery-1.4.3.min.js"></script>
    <script src="/plugins/jquery.fancybox-1.3.4/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
    <script src="/plugins/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.js"></script>
    <script src="/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="/plugins/colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="/plugins/tagsinput/jquery.tagsinput.min.js"></script>
    <script src="/plugins/validVal/js/jquery.validVal.min.js"></script>
    <script src="/plugins/jquery.dualListbox-1.3/jquery.dualListBox-1.3.min.js"></script>
    <script src="/plugins/jasny/js/bootstrap-inputmask.js"></script>
</span>
