<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Авторизация</title>
	<link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="/assets/css/login.css" />
</head>

<body >
<div class="container">
	<div class="tab-content">
		<div id="login" class="tab-pane active">
			<form th:action="@{/admin/login}" method="POST" class="form-signin">
				<p class="text-muted text-center btn-block btn btn-primary btn-rect">Введите логин и пароль</p>
				<input type="text" id="username" name="username" placeholder="Логин" class="form-control" />
				<input type="password" id="password" name="password" placeholder="Пароль" class="form-control" />
				<button class="btn text-muted text-center btn-danger" type="submit">Войти</button>
			</form>
			<div align="center" th:if="${param.error}">
				<p style="font-size: 16px; color: #FF1C19;">неверный логин или пароль</p>
			</div>
		</div>
	</div>

</div>

</body>
</html>
