<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Аренды - Панель Управления</title>
    <span th:replace="/fragments/head.html :: head"></span>
</head>
<body>

<div id="wrap">

    <div th:replace="/fragments/header"></div>

    <div th:replace="/fragments/menu"></div>

    <div id="content">
        <div class="inner">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/order">Все аренды
                        <span th:text="${allCount}" class="label label-default"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/order?v=paid">Оплаченные
                        <span th:text="${paidCount}" class="label label-default"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/order?v=notPaid">Не оплаченные
                        <span th:text="${notPaidCount}" class="label label-danger"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/order?v=ended">Завершенные
                        <span th:text="${endedCount}" class="label label-default"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/order?v=notEnded">Не завершенные
                        <span th:text="${notEndedCount}" class="label label-default"></span>
                    </a>
                </li>

            </ul>

            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th></th>
                    <th>Состояние</th>
                    <th>Начало аренды</th>
                    <th>Завершение аренды</th>
                    <th>Автомобиль</th>
                    <th>Клиент</th>
                    <th>Время бронирования</th>
                    <th>Время в движении</th>
                    <th>Время парковки</th>
                    <th>Стоимость</th>
                    <th>Оплачено</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order:${orders}">
                    <td>
                        <a th:href="@{/admin/order/{id}(id=${order.id})}">
                            <button class="btn btn-primary btn-sm">
                                <i class="fas fa-edit"></i>
                            </button>
                        </a>
                    </td>
                    <td>
                        <span th:if="${order.ended && order.blocked}">Заблокирован</span>
                        <span th:if="${order.ended && !order.blocked}">Завершен</span>
                        <span th:if="${!order.ended}">Не завершен</span>
                    </td>
                    <td th:text="${#dates.format(order.start,'dd-MM-yyyy HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(order.end,'dd-MM-yyyy HH:mm:ss')}"></td>
                    <td><a th:href="@{/admin/car/{id}(id=${order.car.id})}"
                           th:text="${order.car.toString()+' '+order.car.number}"></a></td>
                    <td><a th:href="@{/admin/client/{id}(id=${order.client.id})}"
                           th:text="${order.client}"></a></td>
                    <td th:text="${order.bookingTime}"></td>
                    <td th:text="${order.rentTime}"></td>
                    <td th:text="${order.waitingTime}"></td>
                    <td th:text="${order.price+' &#8381;'}"></td>
                    <td th:switch="${order.payment!=null}">
                        <button th:case="true" type="button" class="btn btn-success btn-circle"><i
                                class="fas fa-check"></i></button>
                        <button th:case="false" type="button" class="btn btn-danger btn-circle"><i
                                class="fas fa-times"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<span th:replace="/fragments/scripts.html :: scripts"></span>

</body>
</html>


