<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Аренды - Панель Управления</title>
    <span th:replace="/fragments/head.html :: head"></span>
</head>
<body>

<div id="wrap" >

    <div th:replace="/fragments/header"></div>

    <div th:replace="/fragments/menu"></div>

    <div id="content">
        <div class="inner" style="padding: 10px">
            <div class="card">
                <div class="card-header">Информация об аренде</div>
                <div class="card-body">
                    <div class="row">
                        <dl>
                            <div class="col-lg-3">
                                <dt>Состояние</dt>
                                <dd>
                                    <span th:if="${order.ended && order.blocked}">Заблокирован</span>
                                    <span th:if="${order.ended && !order.blocked}">Завершен</span>
                                    <span th:if="${!order.ended}">Не завершен</span>
                                </dd>
                                <dt>Начало аренды</dt>
                                <dd th:text="${#dates.format(order.start,'dd-MM-yyyy HH:mm:ss')}"></dd>
                                <dt>Завершение аренды</dt>
                                <dd th:text="${#dates.format(order.end,'dd-MM-yyyy HH:mm:ss')}"></dd>
                            </div>

                            <div class="col-lg-3">
                                <dt>Время бронирования</dt>
                                <dd th:text="${order.bookingTime}"></dd>
                                <dt>Время в движении</dt>
                                <dd th:text="${order.rentTime}"></dd>
                                <dt>Время парковки</dt>
                                <dd th:text="${order.waitingTime}"></dd>
                            </div>

                            <div class="col-lg-3">
                                <dt>Автомобиль</dt>
                                <dd><a th:href="@{/admin/car/{id}(id=${order.car.id})}" th:text="${order.car.toString()+' '+order.car.number}"></a></dd>
                                <dt>Клиент</dt>
                                <dd><a th:href="@{/admin/client/{id}(id=${order.client.id})}" th:text="${order.client}"></a></dd>
                            </div>
                            <div class="col-lg-3">
                                <dt>Стоимость</dt>
                                <dd th:text="${order.price+' &#8381;'}"></dd>
                                <dt>Оплата</dt>
                                <dd th:switch="${order.payment!=null}">
                                    <span th:case="true">Оплачено</span>
                                    <span th:case="false">Не оплчено</span>
                                </dd>
                            </div>
                        </dl>
                    </div>

                    <table class="table table-hover table-sm">
                        <a th:if="${!order.ended}" class="btn btn-primary"
                           th:href="@{/admin/order/{id}/end(id=${order.id})}" >Завершить аренду</a>
                        <thead>
                        <tr>
                            <th>Событие</th>
                            <th>Начало</th>
                            <th>Завершение</th>
                            <th>Стоимость</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="d:${data}">
                            <td>
                                <span th:if="${d.action==1}">Бронирование</span>
                                <span th:if="${d.action==2}">Аренда</span>
                                <span th:if="${d.action==3}">Ожидание</span>
                                <span th:if="${d.action==4}">Завершение</span>
                            </td>
                            <td th:text="${#dates.format(d.start,'dd-MM-yyyy HH:mm:ss')}"></td>
                            <td th:text="${#dates.format(d.end,'dd-MM-yyyy HH:mm:ss')}"></td>
                            <td th:text="${d.price+' &#8381;'}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<span th:replace="/fragments/scripts.html :: scripts"></span>
</body>
</html>


