<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title th:text="${car.number+' - Панель Управления'}"></title>

    <!-- GLOBAL STYLES -->
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/theme.css}" />
    <link rel="stylesheet" th:href="@{/css/MoneAdmin.css}" />
    <link rel="stylesheet" th:href="@{/plugins/Font-Awesome/css/font-awesome.css}" />
    <!--END GLOBAL STYLES -->

    <!-- PAGE LEVEL STYLES -->
    <link th:href="@{/plugins/dataTables/dataTables.bootstrap.css}" rel="stylesheet" />
    <link rel="stylesheet" href="/css/jquery-ui.css"/>
    <link rel="stylesheet" href="/plugins/tagsinput/jquery.tagsinput.css" />
    <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker-bs3.css" />
    <link rel="stylesheet" href="/plugins/datepicker/css/datepicker.css" />
    <link rel="stylesheet" href="/plugins/timepicker/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="/plugins/switch/static/stylesheets/bootstrap-switch.css" />
    <!-- END PAGE LEVEL  STYLES -->
</head>

<body>

<!-- MAIN WRAPPER -->
<div id="wrap" >

    <!-- HEADER SECTION -->
    <div th:replace="/fragments/header.html :: header"></div>
    <!-- END HEADER SECTION -->

    <div id="left">

        <div class="media user-media well-small">
            <div class="media-body">
                <h5 th:text="${username}" class="media-heading"></h5>
                <ul class="list-unstyled user-info">
                    <li><a class="btn btn-success btn-xs btn-circle" style="width: 10px;height: 12px;"></a> Администратор</li>
                </ul>
            </div>
        </div>

        <ul id="menu" class="collapse">

            <li style="color: #787878; padding-left: 15px">Автомобили</li>

            <li class="active"><a href="/admin/car"><i class="glyphicon glyphicon-th"></i>
                <span class="label label-danger" th:if="${carOffline!=0}"  th:text="${carOffline}"></span> Автомобили </a></li>

            <li><a href="/admin/map"><i class="glyphicon glyphicon-map-marker"></i> Карта </a></li>
            <li><a href="/admin/zones"><i class="glyphicon glyphicon-record"></i> Зоны </a></li>
            <li><a href="/admin/tracker"><i class="glyphicon glyphicon-globe"></i> Трекеры </a></li>
            <li><a href="/admin/tariff"><i class="glyphicon glyphicon-tasks"></i> Тарифы </a></li>
            <li style="color: #787878; padding-left: 15px">Клиенты</li>

            <li><a href="/admin/client"><i class="glyphicon glyphicon-user"></i><span class="label label-info" th:if="${clientNew!=0}" th:text="${'+'+clientNew}"></span> Клиенты </a></li>
            <li><a href="/admin/order"><i class="glyphicon glyphicon-shopping-cart"></i><span class="label label-danger" th:if="${orderNotPaid!=0}" th:text="${orderNotPaid}"></span> Аренды </a></li>
        </ul>
    </div>

    <!--PAGE CONTENT -->
    <div id="content">

        <div class="inner">
            <div class="row">
                <div class="col-lg-12">
                    <h3  th:text="${car.brand+' '+car.model+' '+car.number}"> Автомобили </h3>
                </div>
            </div>
            <hr>
            <!--MAIN CONTENT -->
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="">Данные автомобиля</a></li>
                        <li><a th:href="@{/admin/car/{id}/control(id=${car.id})}">Управление</a></li>
                        <li><a th:href="@{/admin/car/{id}/rent(id=${car.id})}">Аренды</a></li>
                    </ul>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form th:action="@{/admin/car/edit}" th:object="${car}" method="post">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="brand">Марка</label>
                                            <input type="text" th:field="*{brand}" readonly class="form-control" id="brand">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="model">Модель</label>
                                            <input type="text" th:field="*{model}" readonly class="form-control" id="model">
                                            <input type="text" name="id" th:value="${car.id}" hidden="hidden">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="tariff">Тариф</label>

                                            <select name="tariff" class="form-control" disabled id="tariff">
                                                <option th:value="${car.tariff.id}"
                                                        th:text="${car.tariff.name}"></option>
                                                <option th:each="t:${tariffs}"
                                                        th:value="${t.id}"
                                                        th:text="${t.name}"
                                                        th:if="${t!=car.tariff}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="tracker">Трекер</label>
                                            <select name="tracker" class="form-control" disabled id="tracker">
                                                <option th:value="${car.tracker.id}"
                                                        th:text="${car.tracker.name}"></option>
                                                <option th:each="tracker:${trackers}"
                                                        th:value="${tracker.id}"
                                                        th:text="${tracker.name}+' #'+${tracker.id}"
                                                        th:if="${tracker!=car.tracker}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="number">Госномер</label>
                                            <input type="text" th:field="*{number}" readonly class="form-control" id="number">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="vin">VIN номер</label>
                                            <input type="text" th:field="*{vin}" readonly class="form-control" id="vin">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="transmission">Коробка передач</label>
                                            <select class="form-control" disabled id="transmission" th:field="*{transmission}">
                                                <option value="АКПП">АКПП</option>
                                                <option value="МКПП">МКПП</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="year">Год выпуска</label>
                                            <input type="text" th:field="*{year}" readonly class="form-control" id="year">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="comment">Комментарий</label>
                                            <textarea th:field="*{comment}" readonly class="form-control" rows="3" id="comment"></textarea>
                                            <input type="checkbox" th:field="*{rented}" hidden>
                                        </div>
                                        <div class="form-group">
                                            <label for="enabled">Доступен для аренды</label>
                                            <div class="make-switch switch-default" data-on-label="Да" data-off-label="Нет">
                                                <input type="checkbox" disabled th:field="*{enabled}" id="enabled" th:value="*{enabled}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span>
                                    <button type="submit" id="save" style="display: none" class="btn btn-primary">Сохранить</button>
                                    <button type="button" class="btn btn-primary" id="edit">Редактировать</button>
                                    <button th:if="${!car.rented}" type="button" class="btn btn-danger" id="del">Удалить автомобиль</button>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--END MAIN CONTENT -->
        </div>
    </div>
    <!--END PAGE CONTENT -->

</div>

<form hidden id="deleteForm" method="post" th:action="@{/admin/car/{id}/delete(id=${car.id})}"></form>

<!--END MAIN WRAPPER -->

<!-- FOOTER -->
<div id="footer">

</div>
<!--END FOOTER -->

<!-- GLOBAL SCRIPTS -->
<script th:src="@{/plugins/jquery-2.0.3.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/modernizr-2.6.2-respond-1.1.0.min.js}"></script>
<!-- END GLOBAL SCRIPTS -->

<!-- PAGE LEVEL SCRIPTS -->
<script th:src="@{/plugins/dataTables/jquery.dataTables.js}"></script>
<script th:src="@{/plugins/dataTables/dataTables.bootstrap.js}"></script>
<script src="/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/plugins/daterangepicker/moment.min.js"></script>
<script src="/plugins/datepicker/js/bootstrap-datepicker.js"></script>
<script src="/plugins/timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="/plugins/switch/static/js/bootstrap-switch.min.js"></script>

<script>

    $("#del").click(function () {
        if (confirm("Подтвердите удаление автомобиля")){
            $("#deleteForm").submit();
        } else {

        }
    });

    var edit = false;
    $('#edit').click(function () {
        if (!edit){
            $('input').removeAttr('readonly');
            $('select').removeAttr('disabled');
            $('textarea').removeAttr('readonly');
            $('#enabled').removeAttr("disabled");
            $('input[name=id]').attr('readonly',true);
            $('#save').show();
            $(this).text("Отмена");
            $(this).removeClass("btn-primary");
            $(this).addClass("btn-default");

            edit = true;
        }else {
            location.reload();
            edit = false;
        }


    });
</script>

<!-- END PAGE LEVEL SCRIPTS -->


</body>

<!-- END BODY -->
</html>


