<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title th:text="${car.number+' - Панель Управления'}"></title>
    <span th:replace="/fragments/head.html :: head"></span>
</head>

<body>
<div id="wrap">

    <div th:replace="/fragments/header"></div>

    <div th:replace="/fragments/menu"></div>

    <div id="content">

        <div class="inner">
            <div class="row">
                <button type="button" id="save" style="display: none" class="btn btn-primary btn-sm">Сохранить</button>
                <button type="button" class="btn btn-primary btn-sm" id="edit">Редактировать</button>
                <button th:if="${!car.rented}" type="button" class="btn btn-danger btn-sm" id="del">Удалить автомобиль
                </button>
            </div>
        </div>

        <div class="inner">

            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="">Данные автомобиля</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/car/{id}/control(id=${car.id})}">Управление</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/car/{id}/rent(id=${car.id})}">Аренды</a>
                        </li>
                    </ul>
                    <div class="card">
                        <div th:text="${car.brand+' '+car.model+' '+car.number}" class="card-header">
                        </div>

                        <div class="card-body">
                            <form id="carEdit" th:action="@{/admin/car/edit}" th:object="${car}" method="post">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="brand">Марка</label>
                                            <input type="text" th:field="*{brand}" readonly class="form-control"
                                                   id="brand">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="model">Модель</label>
                                            <input type="text" th:field="*{model}" readonly class="form-control"
                                                   id="model">
                                            <input type="text" name="id" th:value="${car.id}" hidden="hidden">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="tariff">Тариф</label>

                                            <select name="tariff" class="form-control" disabled id="tariff">
                                                <option th:value="${car.tariff.id}"
                                                        th:text="${car.tariff.name}"></option>
                                                <option th:each="t:${tariffs}"
                                                        th:value="${t.id}"
                                                        th:text="${t.name}"
                                                        th:if="${t!=car.tariff}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="tracker">Трекер</label>
                                            <select name="tracker" class="form-control" disabled id="tracker">
                                                <option th:value="${car.tracker.id}"
                                                        th:text="${car.tracker.name}"></option>
                                                <option th:each="tracker:${trackers}"
                                                        th:value="${tracker.id}"
                                                        th:text="${tracker.name}+' #'+${tracker.id}"
                                                        th:if="${tracker!=car.tracker}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="number">Госномер</label>
                                            <input type="text" th:field="*{number}" readonly class="form-control"
                                                   id="number">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="vin">VIN номер</label>
                                            <input type="text" th:field="*{vin}" readonly class="form-control" id="vin">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="year">Год выпуска</label>
                                            <input type="text" th:field="*{year}" readonly class="form-control"
                                                   id="year">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="comment">Комментарий</label>
                                            <textarea th:field="*{comment}" readonly class="form-control" rows="3"
                                                      id="comment"></textarea>
                                            <input type="checkbox" th:field="*{rented}" hidden>
                                        </div>
                                        <div class="form-group">
                                            <label for="enabled">Доступен для аренды</label>
                                            <div class="make-switch switch-default" data-on-label="Да"
                                                 data-off-label="Нет">
                                                <input type="checkbox" disabled th:field="*{enabled}" id="enabled"
                                                       th:value="*{enabled}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form hidden id="deleteForm" method="post" th:action="@{/admin/car/{id}/delete(id=${car.id})}"></form>

<span th:replace="/fragments/scripts.html :: scripts"></span>

<script>
    $("#del").click(function () {
        if (confirm("Подтвердите удаление автомобиля")) {
            $("#deleteForm").submit();
        } else {

        }
    });

    $("#save").click(function () {
       $("#carEdit").submit();

    });

    var edit = false;
    $('#edit').click(function () {
        if (!edit) {
            $('input').removeAttr('readonly');
            $('select').removeAttr('disabled');
            $('textarea').removeAttr('readonly');
            $('#enabled').removeAttr("disabled");
            $('input[name=id]').attr('readonly', true);
            $('#save').show();
            $(this).text("Отмена");
            $(this).removeClass("btn-primary");
            $(this).addClass("btn-default");

            edit = true;
        } else {
            location.reload();
            edit = false;
        }


    });
</script>

</body>
</html>


