<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title th:text="${car.number+' - Панель Управления'}"></title>
    <span th:replace="/fragments/head.html :: head"></span>
</head>

<body>

<div id="wrap" >

    <div th:replace="/fragments/header"></div>

    <div th:replace="/fragments/menu"></div>

    <div id="content">

        <div class="inner">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/car/{id}(id=${car.id})}">Данные автомобиля</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Управление</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/car/{id}/rent(id=${car.id})}">Аренды</a>
                </li>
            </ul>
            <div class="card">
                <div th:text="${car.brand+' '+car.model+' '+car.number}" class="card-header">
                </div>

                <div class="card-body">
                    <div th:if="${data==null || !tracker.online}" class="panel-body">
                        <div class="alert alert-danger" role="alert">
                            Не удалось синхронизироваться с трекером
                        </div>
                    </div>
                    <div th:if="${data!=null}" class="panel-body">
                        <h4>Состояние автомобиля</h4>
                        <dl class="dl-horizontal">
                            <dt>Связь:</dt>
                            <dd>
                                <span th:if="${tracker.online}" class="label label-success">На связи</span>
                                <span th:if="${!tracker.online}" class="label label-danger">Нет связи</span>
                            </dd>
                            <dt th:if="${!tracker.online}">Последний сингал:</dt>
                            <dd th:if="${!tracker.online}">
                                <span th:text="${#dates.format(data.timestamp,'HH:mm:ss dd-MM-yyyy')}"></span>
                            </dd>
                            <dt>Центральный замок:</dt>
                            <dd>
                                <span th:if="${data.opened}" th:text="Открыт" class="label label-warning"></span>
                                <span th:if="${!data.opened}" th:text="Закрыт"></span>
                            </dd>
                            <dt>Статус:</dt>
                            <dd>
                                <span th:if="${car.rented}">В аренде</span>
                                <span th:if="${!car.rented}">Не в аренде</span>
                            </dd>
                            <dt>Зажигание:</dt>
                            <dd>
                                <span th:if="${data.engineOn}" class="label label-warning">Включено</span>
                                <span th:if="${!data.engineOn}" class="label label-primary">Выключено</span>
                            </dd>
                            <dt>Координаты:</dt>
                            <dd th:text="${data.lat+', '+data.lon}"></dd>
                            <dt>Скорость:</dt>
                            <dd th:if="${data.speed!=-1}" th:text="${data.speed+' км/ч'}"></dd>
                            <dd th:if="${data.speed==-1}">-</dd>
                            <dt>Пробег:</dt>
                            <dd th:if="${data.mileage!=-1}" th:text="${data.mileage+' км'}"></dd>
                            <dd th:if="${data.mileage==-1}">-</dd>
                            <dt>Уровень топлива:</dt>
                            <dd th:if="${data.fuelLevel!=-1}" th:text="${data.fuelLevel+' %'}"></dd>
                            <dd th:if="${data.fuelLevel==-1}">-</dd>
                        </dl>
                        <h4>Управление</h4>
                        <div th:if="${tracker.action==1}" class="alert alert-danger">Отправлен сигнал на закрытие дверей</div>
                        <div th:if="${tracker.action==2}" class="alert alert-danger">Отправлен сигнал на открытие дверей</div>
                        <button class="btn btn-danger"><span class="glyphicon glyphicon-play-circle"></span> Открыть</button>
                        <button class="btn btn-success"><span class="glyphicon glyphicon-lock"></span> Закрыть</button>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<span th:replace="/fragments/scripts.html :: scripts"></span>

</body>

</html>


