<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Автомобили - Панель Управления</title>

    <!-- GLOBAL STYLES -->
    <link rel="stylesheet" th:href="@{/assets/plugins/bootstrap/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/main.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/theme.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/MoneAdmin.css}" />
    <link rel="stylesheet" th:href="@{/assets/plugins/Font-Awesome/css/font-awesome.css}" />
    <!--END GLOBAL STYLES -->

    <!-- PAGE LEVEL STYLES -->
    <link th:href="@{/assets/plugins/dataTables/dataTables.bootstrap.css}" rel="stylesheet" />
    <!-- END PAGE LEVEL  STYLES -->
</head>


<body>

<!-- MAIN WRAPPER -->
<div id="wrap" >

    <!-- HEADER SECTION -->
    <div th:replace="/fragments/header.html :: header"></div>
    <!-- END HEADER SECTION -->

    <div id="left">
        <div class="media user-media well-small">
            <div class="media-body">
                <h5 th:text="${username}" class="media-heading"></h5>
                <ul class="list-unstyled user-info">
                    <li><a class="btn btn-success btn-xs btn-circle" style="width: 10px;height: 12px;"></a> Администратор</li>
                </ul>
            </div>
        </div>

        <ul id="menu" class="collapse">

            <li style="color: #787878; padding-left: 15px">Автомобили</li>

            <li class="active"><a href="/admin/car"><i class="glyphicon glyphicon-th"></i>
                <span class="label label-danger" th:if="${carOffline!=0}"  th:text="${carOffline}"></span> Автомобили </a></li>

            <li><a href="/admin/map"><i class="glyphicon glyphicon-map-marker"></i> Карта </a></li>
            <li><a href="/admin/zones"><i class="glyphicon glyphicon-record"></i> Зоны </a></li>
            <li><a href="/admin/tracker"><i class="glyphicon glyphicon-globe"></i> Трекеры </a></li>
            <li><a href="/admin/tariff"><i class="glyphicon glyphicon-tasks"></i> Тарифы </a></li>
            <li style="color: #787878; padding-left: 15px">Клиенты</li>

            <li><a href="/admin/client"><i class="glyphicon glyphicon-user"></i><span class="label label-info" th:if="${clientNew!=0}" th:text="${'+'+clientNew}"></span> Клиенты </a></li>
            <li><a href="/admin/order"><i class="glyphicon glyphicon-shopping-cart"></i><span class="label label-danger" th:if="${orderNotPaid!=0}" th:text="${orderNotPaid}"></span> Аренды </a></li>

        </ul>

    </div>

    <!--PAGE CONTENT -->
    <div id="content">
        <div class="inner">
            <!--MAIN CONTENT -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-body" style="padding-left: 0">
                        <a href="" class="btn btn-inverse btn-default"><i class="icon-refresh icon-white"></i> Обновить</a>
                        <a href="/admin/car/new" class="btn btn-primary"><span class="icon-ok"></span> Добавить автомобиль</a>
                    </div>
                    <ul class="nav nav-tabs">
                        <li th:if="${#httpServletRequest.getParameter('view')=='all' || #httpServletRequest.getParameter('view')==null}" class="active">
                            <a href="/admin/car">Все автомобили <span th:text="${allCount}" class="label label-default"></span></a>
                        </li>
                        <li th:if="${#httpServletRequest.getParameter('view')!='all' && #httpServletRequest.getParameter('view')!=null}">
                            <a href="/admin/car">Все автомобили <span th:text="${allCount}" class="label label-default"></span></a></li>
                        <li th:if="${#httpServletRequest.getParameter('view')=='enable'}" class="active">
                            <a href="/admin/car?view=enable">Включенные <span th:text="${enableCount}" class="label label-default"></span></a></li>
                        <li th:if="${#httpServletRequest.getParameter('view')!='enable'}">
                            <a href="/admin/car?view=enable">Включенные <span th:text="${enableCount}" class="label label-default"></span></a></li>
                        <li th:if="${#httpServletRequest.getParameter('view')=='disable'}" class="active">
                            <a href="/admin/car?view=disable">Отключенные <span th:text="${disableCount}" class="label label-default"></span></a></li>
                        <li th:if="${#httpServletRequest.getParameter('view')!='disable'}">
                            <a href="/admin/car?view=disable">Отключенные <span th:text="${disableCount}" class="label label-default"></span></a></li>
                        <li th:if="${#httpServletRequest.getParameter('view')=='rented'}" class="active">
                            <a href="/admin/car?view=rented">В аренде <span th:text="${rentedCount}" class="label label-default"></span></a></li>
                        <li th:if="${#httpServletRequest.getParameter('view')!='rented'}">
                            <a href="/admin/car?view=rented">В аренде <span th:text="${rentedCount}" class="label label-default"></span></a></li>
                        <li th:if="${#httpServletRequest.getParameter('view')=='opened'}" class="active">
                            <a href="/admin/car?view=opened">Открытые <span th:text="${openedCount}" class="label label-warning"></span></a></li>
                        <li th:if="${#httpServletRequest.getParameter('view')!='opened'}">
                            <a href="/admin/car?view=opened">Открытые <span th:text="${openedCount}" class="label label-warning"></span></a></li>
                        <li th:if="${#httpServletRequest.getParameter('view')=='offline'}" class="active">
                            <a href="/admin/car?view=offline">Нет свзяи <span th:text="${offlineCount}" class="label label-danger"></span></a></li>
                        <li th:if="${#httpServletRequest.getParameter('view')!='offline'}">
                            <a href="/admin/car?view=offline">Нет свзяи <span th:text="${offlineCount}" class="label label-danger"></span></a></li>
                    </ul>

                    <div class="panel panel-default">

                        <div th:if="${cars.size()==0}" class="panel-body">
                            <div class="table-responsive">
                                Таблица пуста
                            </div>
                        </div>

                        <div th:if="${cars.size()!=0}" class="panel-body" style="padding: 5px 5px 0">
                            <table class="table table-hover table-sm" id="autoTable">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Автомобиль</th>
                                    <th>Трекер</th>
                                    <th>Тариф</th>
                                    <th>Коробка передач</th>
                                    <th>Год выпуска</th>
                                    <th>Госномер</th>
                                    <th>Включен</th>
                                    <th>На связи</th>
                                    <th>В аренде</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="car:${cars}">
                                    <td>
                                        <a th:href="@{/admin/car/{id}(id=${car.id})}">
                                            <button class="btn btn-primary"><i class="icon-edit icon-white"></i></button>
                                        </a>
                                    </td>
                                    <td th:text="${car.brand+' '+car.model}"></td>
                                    <td>
                                        <a th:href="@{/admin/tracker/{id}(id=${car.tracker.id})}" th:text="${car.tracker.name}"></a>
                                    </td>
                                    <td>
                                        <a th:href="@{/admin/tariff/{id}/edit(id=${car.tariff.id})}" th:text="${car.tariff.name}"></a>
                                    </td>
                                    <td th:text="${car.transmission}"></td>
                                    <td th:text="${car.year}"></td>
                                    <td th:text="${car.number}"></td>
                                    <td th:switch="${car.enabled}">
                                        <button th:case="true"  type="button" class="btn btn-success btn-circle"><i class="icon-ok"></i></button>
                                        <button th:case="false"  type="button" class="btn btn-danger btn-circle"><i class="icon-remove"></i></button>
                                    </td>
                                    <td th:switch="${car.tracker.online}">
                                        <button th:case="true"  type="button" class="btn btn-success btn-circle"><i class="icon-ok"></i></button>
                                        <button th:case="false"  type="button" class="btn btn-danger btn-circle"><i class="icon-remove"></i></button>
                                    </td>
                                    <td th:switch="${car.rented}">
                                        <span th:case="true">Да</span>
                                        <span th:case="false">Нет</span>
                                    </td>

                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
            <!--END MAIN CONTENT -->

        </div>
    </div>
    <!--END PAGE CONTENT -->

</div>

<!--END MAIN WRAPPER -->

<!-- FOOTER -->
<div id="footer">

</div>
<!--END FOOTER -->


<!-- GLOBAL SCRIPTS -->
<script th:src="@{/assets/plugins/jquery-2.0.3.min.js}"></script>
<script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js}"></script>
<!-- END GLOBAL SCRIPTS -->

<!-- PAGE LEVEL SCRIPTS -->
<script th:src="@{/assets/plugins/dataTables/jquery.dataTables.js}"></script>
<script th:src="@{/assets/plugins/dataTables/dataTables.bootstrap.js}"></script>
<script>
    $(document).ready(function () {
        $('#autoTable').dataTable({
            "language": {
                "processing": "Подождите...",
                "search": "Поиск: ",
                "lengthMenu": "Показать _MENU_ автомобилей",
                "info": "показано с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 из 0 записей",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                }
            }
        });
    });
</script>

<!-- END PAGE LEVEL SCRIPTS -->


</body>

<!-- END BODY -->
</html>


