<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Автомобили - Панель Управления</title>

    <span th:replace="/fragments/head.html :: head"></span>
</head>


<body>

<div id="wrap">

    <div th:replace="/fragments/header"></div>
    <div th:replace="/fragments/menu"></div>

    <div id="content">

        <div class="inner">
            <div class="row">
                <a href="/admin/car/new" class="btn btn-primary btn-sm">Добавить автомобиль</a>
            </div>
        </div>

        <div class="inner">
            <ul class="nav nav-tabs">

                <li class="nav-item">
                    <a class="nav-link" href="/admin/car">Все автомобили
                        <span th:text="${allCount}" class="label label-default"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/car?view=enable">Включенные
                        <span th:text="${enableCount}" class="label label-default"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/car?view=disable">Отключенные
                        <span th:text="${disableCount}" class="label label-default"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/car?view=rented">В аренде
                        <span th:text="${rentedCount}" class="label label-default"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/car?view=opened">Открытые
                        <span th:text="${openedCount}" class="label label-warning"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/car?view=offline">Нет свзяи
                        <span th:text="${offlineCount}" class="label label-danger"></span>
                    </a>
                </li>
            </ul>

            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th></th>
                    <th>Автомобиль</th>
                    <th>Трекер</th>
                    <th>Тариф</th>
                    <th>Госномер</th>
                    <th>Включен</th>
                    <th>На связи</th>
                    <th>В аренде</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="car:${cars}">
                    <td>
                        <a th:href="@{/admin/car/{id}(id=${car.id})}">
                            <button class="btn btn-primary btn-sm">
                                <i class="fas fa-edit"></i>
                            </button>
                        </a>
                    </td>
                    <td th:text="${car.brand+' '+car.model}"></td>
                    <td>
                        <a th:href="@{/admin/tracker/{id}(id=${car.tracker.id})}"
                           th:text="${car.tracker.name}">
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/admin/tariff/{id}/edit(id=${car.tariff.id})}"
                           th:text="${car.tariff.name}">
                        </a>
                    </td>
                    <td th:text="${car.number}"></td>
                    <td th:switch="${car.enabled}">
                        <button th:case="true" type="button" class="btn btn-success btn-circle"><i
                                class="fas fa-check"></i></button>
                        <button th:case="false" type="button" class="btn btn-danger btn-circle"><i
                                class="fas fa-times"></i></button>
                    </td>
                    <td th:switch="${car.tracker.online}">
                        <button th:case="true" type="button" class="btn btn-success btn-circle"><i
                                class="fas fa-check"></i></button>
                        <button th:case="false" type="button" class="btn btn-danger btn-circle"><i
                                class="fas fa-times"></i></button>
                    </td>
                    <td th:switch="${car.rented}">
                        <span th:case="true">Да</span>
                        <span th:case="false">Нет</span>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<span th:replace="/fragments/scripts.html :: scripts"></span>

</body>
</html>


