<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Добавить автомобиль - Панель Управления</title>

    <span th:replace="/fragments/head.html :: head"></span>

</head>

<body>

<div th:replace="/fragments/header"></div>

<div th:replace="/fragments/menu"></div>

<!--PAGE CONTENT -->
<div id="content">

    <div class="inner" style="padding: 10px">
        <div class="card">

            <div class="card-header">Новый автомобиль</div>
            <div class="card-body col-lg-6">

                <form th:action="@{/admin/car/new}" th:object="${car}" method="post"
                      class="form-horizontal">

                    <div class="form-group">
                        <label class="control-label">Марка</label>
                        <input type="text" th:field="*{brand}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Модель</label>
                        <input type="text" th:field="*{model}" name="model" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Год выпуска</label>
                        <input type="text" th:field="*{year}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Госномер</label>
                        <input type="text" th:field="*{number}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">VIN Номер</label>
                        <input type="text" th:field="*{vin}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Трекер</label>
                        <select name="tracker" class="form-control">
                            <option th:each="t : ${trackers}"
                                    th:value="${t.id}"
                                    th:text="${t.name +' #'+t.id}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Тариф</label>
                        <select name="tariff" class="form-control">
                            <option th:each="t : ${tariffs}"
                                    th:value="${t.id}"
                                    th:text="${t.name +' #'+t.id}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Разрешить аренду?</label>
                        <div class="make-switch switch-default" data-on-label="Да" data-off-label="Нет">
                            <input type="checkbox" th:field="*{enabled}" th:value="*{enabled}"
                                   name="enabled" id="enabled"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label"></label>
                        <button class="btn btn-primary" type="submit">Добавить</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!--END PAGE CONTENT -->


<span th:replace="/fragments/scripts.html :: scripts"></span>

</body>

</html>


