<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title th:text="${car.number+' - Панель Управления'}"></title>
    <span th:replace="/fragments/head.html :: head"></span>
</head>


<body>

<!-- MAIN WRAPPER -->
<div id="wrap" >

    <div th:replace="/fragments/header"></div>

    <div th:replace="/fragments/menu"></div>

    <div id="content">

        <div class="inner">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/car/{id}(id=${car.id})}">Данные автомобиля</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/car/{id}/control(id=${car.id})}">Управление</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Аренды</a>
                </li>
            </ul>
            <div class="card">
                <div th:text="${car.brand+' '+car.model+' '+car.number}" class="card-header">
                </div>

                <div class="card-body">
                    <div th:if="${orders.size()==0}" class="panel-body">
                        <div class="alert alert-info" role="alert">
                            Данное авто не находилось в аренде
                        </div>
                    </div>
                    <div th:if="${orders.size()!=0}" class="panel-body" style="padding-left: 5px; padding-right: 5px ">

                        <table class="table table-hover table-sm" id="autoTable">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Состояние</th>
                                <th>Начало аренды</th>
                                <th>Завершение аренды</th>
                                <th>Клиент</th>
                                <th>Время бронирования</th>
                                <th>Время в движении</th>
                                <th>Время парковки</th>
                                <th>Стоимость</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="order:${orders}">
                                <td>
                                    <a th:href="@{/admin/order/{id}(id=${order.id})}">
                                        <button class="btn btn-primary"><i class="icon-edit icon-white"></i></button>
                                    </a>
                                </td>
                                <td>
                                    <span th:if="${order.ended && order.blocked}">Заблокирован</span>
                                    <span th:if="${order.ended && !order.blocked}">Завершен</span>
                                    <span th:if="${!order.ended}">Не завершен</span>
                                </td>
                                <td th:text="${#dates.format(order.start,'dd-MM-yyyy HH:mm:ss')}"></td>
                                <td th:text="${#dates.format(order.end,'dd-MM-yyyy HH:mm:ss')}"></td>
                                <td><a th:href="@{/admin/client/{id}(id=${order.client.id})}" th:text="${order.client}"></a></td>
                                <td th:text="${order.bookingTime}"></td>
                                <td th:text="${order.rentTime}"></td>
                                <td th:text="${order.waitingTime}"></td>
                                <td th:text="${order.price+' &#8381;'}"></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<span th:replace="/fragments/scripts.html :: scripts"></span>

</body>

<!-- END BODY -->
</html>


